body {
	font-family: "Roboto", "Arial", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #000000;
	background: #ffffff;
}
p, h1, h4 {
	margin: 25px 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 880px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	min-height: 440px;
	background: #eeeeee;
}
.inner-header {
	min-height: 330px;
	border-bottom: 1px solid transparent;
}
.inner-header h1 {
	padding: 0 100px;
	font-size: 40px;
	line-height: 52px;
	text-transform: uppercase;
	text-align: center;
}
.top-header {
	min-height: 120px;
}
.top-header .logo {
	float: left;
	padding: 30px 0;
}
.top-header .logo a {
	display: block;
	width: 139px;
	height: 56px;
}
.main-navigation {
	float: right;
	max-width: 720px;
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	padding-top: 55px;
	margin-right: 40px;
}
.main-navigation li:nth-last-child(2) {
	margin-right: 60px;
}
.main-navigation li:last-child {
	margin: 0;
}
.main-navigation a {
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
}
.main-navigation a:hover {
	color: #fb565a;
}
.main-navigation a:active {
	color: #8f8f8f;
}
.main-navigation .active {
	position: relative;
}
.main-navigation .active a:hover {
	color: inherit;
}
.main-navigation .active::before {
	content: "";
	position: absolute;
	bottom: 0;
	height: 2px;
	width: 100%;
	background: #fb565a;
}

.main-navigation .bascket {
	position: relative;
	padding-left: 30px;
}
.main-navigation .bascket::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	background: url(../img/sprite.png) no-repeat -15px -15px;
	opacity: 1;
}
.main-navigation .bascket:hover::before {
	background-position: -15px -60px;
}
.main-navigation .bascket:active::before {
	background-position: -15px -15px;
	opacity: 0.4;
}

/* slider */

.slider {
	position: relative;
	width: 880px;
	height: 320px;
}
.slider input[type="radio"] {
	display: none;
}
.slider .controls {
	position: absolute;
	bottom: 90px;
	left: 50%;
	margin-left: -19px;
	z-index: 1;
}
#slide1:checked ~ .slider-inner .slide1 {
	display: block ;
}
.slider label {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	width: 4px;
	height: 4px;
	margin-right: 12px;
	border-radius: 50%;
	background: white;
	cursor: pointer;
}
.slider label:last-child {
	margin: 0;
}
 .slider label::before {
	content: "";
	position: absolute;
	top: -3px;
	left: -3px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	border: 3px solid #fff;
}
.slider label:hover,
#slide1:checked ~ .controls label:nth-child(1),
#slide2:checked ~ .controls label:nth-child(2),
#slide3:checked ~ .controls label:nth-child(3) {
	background: #c1c1c1;
}
.slider-inner {
	position: relative;
	width: inherit;
	height: inherit;
	overflow: hidden;
}
.slider-inner .slides {
	position: absolute;
	width: inherit;
	height: inherit;
	display: none;
}
.slider-inner .slide1 {
	background: url(../img/slide1-bg.png) no-repeat 100% 40%;
}
.slider-inner .slide2 {
	background: url(../img/slide2-bg.png) no-repeat 100% 40%;
}
.slider-inner .slide3 {
	background: url(../img/slide3-bg.png) no-repeat 100% 100%;
}
#slide1:checked ~ .slider-inner .slide1,
#slide2:checked ~ .slider-inner .slide2,
#slide3:checked ~ .slider-inner .slide3 {
	display: block;
}
.slider-inner p {
	max-width: 480px;
	font-weight: 400;
	color: #283136;
}
.slider-inner .slider-heading {
	margin-top: 35px;
	font-size: 36px;
	line-height: 36px;
}
.slider-inner .slider-btn {
	display: block;
	padding: 10px 0;
	width: 240px;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
	background-color: #fb565a;
}
.slider-inner .slider-btn:hover {
	background-color: #d6494d;
}
.slider-inner .slider-btn:active {
	background-color: #b63538;
}

/* products */

.products {
	padding: 80px 0;
	border-bottom: 2px solid #eeeeee;
}
.products-item {
	float: left;
	width: 240px;
	margin-right: 80px;
}
.products-item:last-child {
	margin: 0;
}
.products-item .products-img {
	display: block;
	width: 240px;
	height: 124px;
	margin-bottom: 25px;
}
.products-item h3 {
	margin: 20px 0;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 500;
}
.products-item p {
	font-size: 15px;
	margin: 20px 0;
	color: #283136;
}
.products-item .products-btn {
	display: block;
	padding: 10px 0;
	width: 140px;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
}
.products-item .products-btn-1 {
	background: #fb565a;
}
.products-item .products-btn-1:hover {
	background: #d6494d;
}
.products-item .products-btn-1:active {
	background: #b63538;
}
.products-item .products-btn-2 {
	background: #00ca74;
}
.products-item .products-btn-2:hover {
	background: #01a25e;
}
.products-item .products-btn-2:active {
	background: #009053;
}
.products-item .products-btn-3 {
	background: #efc84a;
}
.products-item .products-btn-3:hover {
	background: #d6ae2c;
}
.products-item .products-btn-3:active {
	background: #c09b24;
}
/* about */
.about {
	padding: 70px 0;
	color: #283136;
}
.about .row {
	margin-bottom: 40px;
}
.about .row:last-child {
	margin: 0;
}
.about .column-left {
	float: left;
	width: 590px;
	padding-right: 30px;
}
.about .column-right {
	float: right;
	width: 240px;
}
.about .column-left h1:first-of-type,
.about .column-right h1:first-of-type,
.about .column-left h4:first-of-type,
.about .column-right h4:first-of-type {
	margin-top: 0;
}
.about .column-left p:last-of-type,
.about .column-right p:last-of-type {
	margin-bottom: 0;
}
.about h1 {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}
.about h4 {
	text-transform: uppercase;
}
.about ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.about li {
	position: relative;
	margin-bottom: 25px;
	padding-left: 35px;
}
.about li:last-child {
	margin: 0;
}
.about li::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 0;
	width: 25px;
	height: 2px;
	background: #fb565a;
}
.about .about-logo {
	position: relative;
	margin-top: -10px;
	padding: 0 25px;
	padding-top: 110px;
	width: 190px;
	height: 40px;
	text-align: center;
	background: url(../img/about-logo.png) no-repeat 50% 0;
}
.about .about-logo::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 30px;
	width: 240px;
	height: 2px;
	background: #eeeeee;
	z-index: 1;
}
.about .founded {
	position: relative;
	padding: 0 15px;
	background: #ffffff;
	z-index: 2;
}
/* portfolio */

.portfolio {
	margin-bottom: 85px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	font-size: 0;
}
.portfolio .portfolio-item {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 50px;
	width: 260px;
	min-height: 165px;
	opacity: 0.2;
}
.portfolio .portfolio-item:last-child {
	margin: 0;
}
.portfolio .portfolio-item:hover,
.portfolio .portfolio-item:active {
	opacity: 1;
}
.portfolio .portfolio-item-1 {
	background: url(../img/portfolio-1.png) no-repeat 50% 50%;
}
.portfolio .portfolio-item-2 {
	background: url(../img/portfolio-2.png) no-repeat 50% 50%;
}
.portfolio .portfolio-item-3 {
	background: url(../img/portfolio-3.png) no-repeat 50% 50%;
}
/* map */
.map {
	position: relative;
	width: 100%;
	min-height: 416px;
	background: url(../img/map.jpg) no-repeat 50% 0;
	background-size: cover;
}
.map .write-us {
	position: absolute;
	top: 85px;
	left: auto;
	padding: 30px 20px;
	width: 210px;
	height: 180px;
	background: #ffffff;
	z-index: 1;
}
.write-us h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.write-us p {
	margin: 20px 0;
	text-transform: lowercase;
	font-weight: 400;
}
.write-us .write-us-btn {
	display: block;
	padding: 10px 0;
	width: 210px;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
	background-color: #fb565a;
}
.write-us .write-us-btn:hover {
	background-color: #d6494d;
}
.write-us .write-us-btn:active {
	background-color: #b63538;
}
/* main-footer */
.main-footer {
	padding: 70px 0;
}
.footer-social {
	float: left;
	margin-right: 20px;
	width: 300px;
	font-size: 0;
}
.social-btn {
	display: inline-block;
	vertical-align: baseline;
	margin-right: 25px;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	background: #e1e1e1 url(../img/sprite.png) no-repeat;
}
.social-btn:last-child {
	margin: 0;
}
.social-btn:hover {
	background: #fb565a url(../img/sprite.png) no-repeat;
}
.social-btn:active {
	background: #d6494d url(../img/sprite.png) no-repeat;
}
.social-btn.social-btn-vk {
	background-position: 3px -385px;
}
.social-btn.social-btn-fb {
	background-position: 9px -287px;
}
.social-btn.social-btn-inst {
	background-position: 5px -338px;
}
.footer-text {
	float: left;
	width: 560px;
}
.footer-text .big-heading {
	margin: 0;
	margin-bottom: 5px;
	font-size: 36px;
	line-height: 46px;
	font-weight: 400;
}
.footer-text p {
	margin: 0;
	font-weight: 400;
}
/* modal */
.modal-content {
	display: none;
	position: fixed;
	top: 120px;
	left: 50%;
	margin-left: -315px;
	padding: 50px 80px;
	width: 460px;
	height: 320px;
	background: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
	z-index: 5;
}
.modal-content-show {
	display: block;
}
.modal-content .close-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 40px;
	height: 40px;
	font-size: 0;
	background: #fb565a;
	border-radius: 50%;
	cursor: pointer;
}
.modal-content .close-btn::before,
.modal-content .close-btn::after {
	content: "";
	position: absolute;
	top:18px;
	left: 10px;
	width: 20px;
	height: 4px;
	border-radius: 3px;
	background: #ffffff;
	z-index: 10;
}
.modal-content .close-btn::before {
	transform: rotate(45deg);
}
.modal-content .close-btn::after {
	transform: rotate(-45deg);
}
.write-us-form .col-50 {
	float: left;
	width: 220px;
	margin-right: 20px;
}
.write-us-form .col-50:last-child {
	margin: 0;
}
.write-us-form label {
	display: block;
	margin-bottom: 10px;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
}
.write-us-form input,
.write-us-form textarea {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 25px;
	padding: 10px 15px;
	border: 2px solid #d7dcde;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	cursor: pointer;
}
.write-us-form input:hover,
.write-us-form textarea:hover {
	border: 2px solid #a2a9ac;
}
.write-us-form input::-webkit-input-placeholder {
	color: #000000;
}
.write-us-form input:-ms-input-placeholder {
	color: #000000;
}
.write-us-form input::-ms-input-placeholder {
	color: #000000;
}
.write-us-form .submit-btn {
	box-sizing: border-box;
	margin-top: 20px;
	padding: 10px 0;
	width: 100%;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	border: none;
	border-radius: 3px;
	background-color: #fb565a;
	cursor: pointer;
}
/* Inner pages */

.inner-main {
	padding: 80px 0;
}
.inner-main .column-left {
	float: left;
	width: 240px;
	margin-right: 80px;
}
.inner-main .column-right {
	float: left;
	width: 560px;
}
.sorting-form p {
	margin: 0;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 30px;
}
.sorting-form .form-block {
	margin-bottom: 50px;
}
.sorting-form .range-slider {
	position: relative;
	margin-bottom: 15px;
	width: 240px;
	height: 80px;
	border-radius: 3px;
	background: #f1f1f1;
}
.sorting-form .range-slider::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 20px;
	margin-top: -1px;
	height: 2px;
	width: 200px;
	background: #d7dcde;
}
.sorting-form .range-slider::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 40px;
	margin-top: -1px;
	height: 2px;
	width: 120px;
	background: #00ca74;
}
.range-slider .left-control,
.range-slider .right-control {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0 2px  rgba(0, 0, 0, 0.14);
}
.range-slider .left-control::before,
.range-slider .right-control::before {
	content: "";
	position: absolute;
	left: 8px;
	top: 8px;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #ababab;
}
.range-slider .left-control {
	left: 20px;
}
.range-slider .right-control {
	right: 60px;
}
.range-input input[type="text"] {
	box-sizing: border-box;
	margin: 0 5px;
	padding: 10px;
	width: 80px;
	height: 38px;
	border-radius: 3px;
	border: none;
	text-align: center;
	background: #f1f1f1;
}
.range-input input[type="text"]:last-of-type {
	margin-right: 0;
}
.range-input label:last-of-type {
	margin-left: 17px;
}
.sorting-form input[type="radio"],
.sorting-form input[type="checkbox"] {
	display: none;
}
.sorting-form .radio,
.sorting-form .checkbox {
	position: relative;
	display: block;
	margin-bottom: 15px;
	height: 25px;
	padding-top: 3px;
	padding-left: 35px;
	color: #283136;
	cursor: pointer;
}
.sorting-form .radio:hover,
.sorting-form .checkbox:hover {
	color: #000000;
}
.sorting-form .radio::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 4px solid #c1c1c1;
	background: inherit;
	cursor: pointer;
}
.sorting-form .radio:hover::before {
	border: 4px solid #b5b5b5;
}
.sorting-form input[type="radio"]:checked + .radio::after {
	content: "";
	position: absolute;
	left: 8px;
	top: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #c1c1c1;
}
.sorting-form input[type="radio"]:checked + .radio:hover::after {
	background: #b5b5b5;
}
.sorting-form .checkbox {
	padding-top: 1px;
}
.sorting-form .checkbox::before {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 23px;
	height: 23px;
	opacity: 0.8;
	background: url('../img/inner-sprite.png') no-repeat -5px -125px;
}
.sorting-form .checkbox:hover::before {
	opacity: 1;
}
.sorting-form input[type="checkbox"]:checked + .checkbox::after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	width: 27px;
	height: 23px;
	opacity: 1;
	background: url('../img/inner-sprite.png') no-repeat -5px -158px;
}
.sorting-form .submit-btn {
	width: 160px;
	height: 38px;
	border: none;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	font-family: inherit;
	background: #f1f1f1;
	cursor: pointer;
	outline: none;
}
.sorting-form .submit-btn:hover {
	background: #e5e5e5;
}
.sorting-form .submit-btn:active {
	box-sizing: border-box;
	border-top: 3px solid #b5b5b5;
	background: #d5d5d5;
}
.sorting {
	margin-bottom: 28px;
}
.sorting .type-sorting {
	float: left;
	font-size: 12px;
	line-height: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.sorting .range-sorting {
	float: right;
}
.sorting .type-sorting a {
	display: inline-block;
	vertical-align: baseline;
	margin-left: 40px;
	color: #dadada;
	text-decoration: none;
	font-weight: 400;
	border-bottom: 1px dashed #00ca74;
}
.sorting .type-sorting a:hover {
	color: #000000;
	border-bottom: 1px solid #00ca74;
}
.sorting .type-sorting a:active,
.sorting .type-sorting a.active {
	color: #000000;
	border-bottom: none;
}
.range-sorting a {
	display: inline-block;
	vertical-align: baseline;
	font-size: 0;
	width: 11px;
	height: 10px;
	margin-left: 5px;
	background: url('../img/inner-sprite.png') no-repeat;
	cursor: pointer;
	opacity: 0.8;
}
.range-sorting .minimum {
	background-position: -5px -5px;
}
.range-sorting .maximum {
	background-position: -5px -65px;
}
.range-sorting .minimum:hover {
	opacity: 1;
}
.range-sorting .maximum:hover {
	opacity: 1;
}
.range-sorting .minimum:active {
	background-position: -5px -45px;
}
.range-sorting .maximum:active {
	background-position: -5px -105px;
}
.range-sorting .minimum.active {
	background-position: -5px -25px;
}
.range-sorting .maximum.active {
	background-position: -5px -85px;
}
/* Goods */
.goods {
	font-size: 0;
}
.goods .goods-item {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 80px;
	padding-top: 30px;
	width: 240px;
	height: 240px;
	border-radius: 3px;
	font-size: 16px;
	background: #f1f1f1;
	z-index: 99;
}
.goods .goods-item:nth-child(2n) {
	margin-left: 80px;
}
.goods .goods-item img {
	width: 240px;
	height: 240px;
	cursor: pointer;

}

.goods-item .controls,
.goods-item .controls::before,
.goods-item .controls::after {
	position: absolute;
	top: 10px;
	left: 13px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #ffffff;
}
.goods-item .controls::before {
	content: "";
	top: 0;
	left: 17px;
}
.goods-item .controls::after {
	content: "";
	top: 0;
	left: 34px;
}
.goods-item .goods-modal {
	position: absolute;
	display: none;
	bottom: 20px;
	left: 20px;
	padding: 0 30px;
	width: 140px;
	height: 200px;
	background: #ffffff;
	text-align: center;
	opacity: 1;
	z-index: 100;
}
.goods-item .goods-modal h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	margin-top: 30px;
	margin-bottom: 20px;
}
.goods-item .goods-modal p {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	margin: 20px 0;
}
.goods-modal .goods-modal-btn {
	display: block;
	padding: 10px 0;
	width: 140px;
	height: 18px;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	border-radius: 3px;
	background: #fb565a;
}
.goods-modal-wrapper:hover .goods-modal {
	display: block;
}

/* paginator */

.paginator .paginator-item {
 display: inline-block;
 vertical-align: top;
 box-sizing: border-box;
 padding: 10px 0;
 margin-right: 5px;
 width: 38px;
 height: 38px;
 background: #f1f1f1;
 border-radius: 3px;
 font-size: 12px;
 line-height: 18px;
 color: #000000;
 text-align: center;
 text-decoration: none;
 cursor: pointer;
}
.paginator .paginator-item:hover {
	background: #e5e5e5;
}
.paginator .paginator-item:active {
	background: #d5d5d5;
	padding: 7px 0;
	border-top: 3px solid #b5b5b5;
}
.paginator .paginator-item.current {
	background: #ffffff;
	padding: 8px 0;
	border: 2px solid #f2f2f2;
	cursor: auto;
}
.paginator .next {
	width: 140px;
}
